.m-xs {
    margin: 0.25rem;
}

.m-s {
    margin: 0.5rem;
}

.m-m {
    margin: 0.75rem;
}

.m-l {
    margin: 1rem;
}

.m-xl {
    margin: 1.25rem;
}

.m-x-xs {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.m-x-s {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.m-x-m {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.m-x-l {
    margin-left: 1rem;
    margin-right: 1rem;
}

.m-x-xl {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.m-y-xs {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.m-y-s {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.m-y-m {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.m-y-l {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-y-xl {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.p-xs {
    padding: 0.25rem;
}

.p-s {
    padding: 0.5rem;
}

.p-m {
    padding: 0.75rem;
}

.p-l {
    padding: 1rem;
}

.p-xl {
    padding: 1.25rem;
}

.p-x-xs {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.p-x-s {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.p-x-m {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.p-x-l {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-x-xl {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.p-y-xs {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.p-y-s {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.p-y-m {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.p-y-l {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-y-xl {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
