<nav>
    <FluentNavMenu Expanded="false" Width="250" Collapsible="true" Title="Navigation Menu">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size16.Home())" IconColor="Color.Accent">Home</FluentNavLink>
        <FluentNavLink Href="/budget/dashboard" Icon="@(new Icons.Regular.Size16.DataTrending())" IconColor="Color.Accent">Budget</FluentNavLink>
    </FluentNavMenu>
</nav>
