@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<FluentMainLayout>
    <Header>
        <NavMenu />
    </Header>
    <Body>
        <article class="body-content">
            <ErrorBoundary @ref="@errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <h2>Uh oh! An error has occurred...</h2>
                    <p>Don't worry, a report has been sent to our team to fix this!<br /><small>Let's <a href="/">get back on track</a>.</small></p>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </Body>
</FluentMainLayout>

@code {
    ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
