@page "/console"

<h3>Console</h3>

<FlexGrid>
    <FlexRow>
        <Div Margin="Spacing.Margin.Small">
            <p>I don't even know anymore.</p>
        </Div>
    </FlexRow>
</FlexGrid>

@code {

}
