@page "/tools"

<PageTitle>Budgetr - Tools</PageTitle>

<h3>Tools</h3>
<FluentDivider Style="margin-bottom: 10px;"></FluentDivider>

<div class="flex-grid">
    <div class="flex-grid-row">
        <div class="card">
            <FluentCard Style="padding: 1rem;">
                <h4>Loan Tools</h4>
                <FluentDivider Style="margin-bottom: 10px;"></FluentDivider>
                    <p><FluentAnchor Appearance="Appearance.Hypertext" Href="/tools/amortization-calculator">Amortization Calculator</FluentAnchor></p>
            </FluentCard>
        </div>
    </div>
</div>