@page "/budget/expenses"

@inject AuthenticationStateProvider authStateProvider
@inject BudgetrDbContext db

<FluentStack Orientation="@Orientation.Vertical">
    <div style="width: 100%">
        <FluentToolbar Style="width: 100%">
            <FluentLabel>Expenses</FluentLabel>
            <FluentSpacer />
            <FluentButton IconEnd="@(new Icons.Regular.Size16.Add())" OnClick="AddExpenseButton" />
        </FluentToolbar>
        <FluentStack Orientation="@Orientation.Vertical">
            @foreach (var expense in Budget?.Expenses?.Where(e => e.ExpenseType != ExpenseType.Housing && e.ExpenseType != ExpenseType.Transportation)?.ToList() ?? Enumerable.Empty<Expense>())
            {
                var e = expense;
                <ExpenseCard @bind-Value="@e" @bind-Value:after="SaveAsync" ValueDeleted="DeleteExpenseAsync" />
            }
        </FluentStack>
    </div>
</FluentStack>

@code {
    [CascadingParameter]
    public Budget? Budget { get; set; }

    async Task AddExpenseButton()
    {
        try
        {
            if (Budget is null) return;

            var oid = await authStateProvider.GetObjectId();
            if (oid is null || oid == Guid.Empty) return;

            await db.Expenses.AddAsync(new Expense
                {
                    Name = "New Expense",
                    Amount = 0,
                    Frequency = Frequency.Monthly,
                    ExpenseType = ExpenseType.Unknown,
                    Budget = Budget,
                    BudgetId = Budget.Id,
                    UserId = oid ?? throw new InvalidOperationException()
                });
        }
        catch (Exception ex)
        {

        }
        finally
        {
            await SaveAsync();
        }
    }

    async Task DeleteExpenseAsync(Expense item)
    {
        try
        {
            db.Expenses.Remove(item);
        }
        catch (Exception ex)
        {

        }
        finally
        {
            await SaveAsync();
        }
    }

    async Task SaveAsync()
    {
        try
        {
            await db.SaveChangesAsync();
        }
        catch (Exception ex)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }
}