@implements IDialogContentComponent<Budget>

<div>
    <FluentLabel>Budget Name</FluentLabel>
    <FluentTextField @bind-Value="@Content.Name" />
</div>

@code {
    [Parameter]
    public Budget Content { get; set; }
}
