@page "/login"

<AuthorizeView>
    <Authorized>
        <a Href="/.auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/.auth/login/aad">Log in with Microsoft</a>
        <a href="/.auth/login/github">Log in with GitHub</a>
        <a href="/.auth/login/google">Log in with Google</a>
    </NotAuthorized>
</AuthorizeView>
