@page "/profile"

<h3>Profile</h3>

<FluentAnchor Href="/.auth/login/aad">AAD Log In</FluentAnchor>
<FluentAnchor Href="/.auth/login/github">GitHub Log In</FluentAnchor>
<FluentAnchor Href="/.auth/logout">Log Out</FluentAnchor>

@code {

}
