@inherits LayoutComponentBase

<PageTitle>Budgetr.Ui</PageTitle>

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="error">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>