<InputSelect @bind-Value="@Value">
    @foreach (var freq in Enum.GetValues<Frequency>())
    {
        <option value="@freq">@freq.ToString()</option>
    }
</InputSelect>

@code {
    [Parameter]
    public Frequency? Value { get; set; } = Frequency.Unknown;
}
