@inject BudgetrApiService api

@if (loading)
{
    <p>Loading...</p>
}
else
{
    @if (incomes?.Any() ?? false)
    {
        <QuickGrid Items="@incomes">
            <TemplateColumn Title="Name">
                <a href="/">@context.Name</a>
            </TemplateColumn>
        </QuickGrid>
    }
    else 
    {
        <p>No incomes yet... <a href="@($"/budgets/{BudgetId.ToString()}/incomes/create")">Add one here</a></p>
    }
}

@code {
    [Parameter]
    public Guid BudgetId { get; set; }

    private IQueryable<Income>? incomes;
    private bool loading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await RefreshDataAsync();
    }

    async Task RefreshDataAsync()
    {
        try
        {

        }
        catch
        {
            incomes = Array.Empty<Income>().AsQueryable();
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}