@inherits LayoutComponentBase

<div class="budgetr-toolbar">
    <div class="budgetr-toolbar-left">
        <a href="/"><h6>Budgetr</h6></a>
    </div>
    <div class="budgetr-toolbar-right">
        <ProfileMenu />
    </div>
</div>
<hr />
<div class="budgetr-body">
    @Body
</div>
