.budgetr-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem;
}

.budgetr-toolbar-left {

}

.budgetr-toolbar-right {

}

.budgetr-body {
    margin: 1rem;
}