@inject NavigationManager navigator

<AuthorizeView>
    <Authorized>
        <a href="/profile">Profile</a>
        <a href="/.auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    bool open = false;
}